{{- if and .IsBlock .PlainText -}}
  <figure class="fancy_image_box">
    <a href="{{ .Destination | safeURL }}" target="_blank">
        <img class="fancy_image_image" src="{{ .Destination | safeURL }}"
          {{- with .PlainText }} alt="{{ . }}"{{ end -}}
          {{- with .Title }} title="{{ . }}"{{ end -}}
        >
    </a>
    {{- with .Title }}<figcaption class="fancy_image_caption">{{ . }}</figcaption>{{ end -}}
  </figure>
{{- else -}}
    <a href="{{ .Destination | safeURL }}" target="_blank">
        <img src="{{ .Destination | safeURL }}"
        {{- with .PlainText }} alt="{{ . }}"{{ end -}}
        {{- with .Title }} title="{{ . }}"{{ end -}}
        >
    </a>
{{- end -}}