/* flexy box hell */

/* reading this stylesheet will result in permanent brain damage */

/* printer optimization because book good phone bad */

@media print {
	aside, header, footer {
		display: none;
	}
	
	body {
		background: #fff !important;
	}

	main {
		width: 100% !important;
		border-radius: 0rem !important;
		box-shadow: none !important;
	}
}

body {
	background: #546E7A;
	background: linear-gradient(90deg, #546E7A, #455A64);
	color: #fff;
	height: 100vh;
	margin: 0rem;
}

.primary {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;
	align-items: center;
	height: 100%;
	width: calc(100% - 13rem);
}

a {
	color: #fff;
}

a:hover {
	color: #6495ed;
	text-decoration: underline;
}

a:focus {
	color: #808080;
}

main a {
	color: #000;
}

header {
	font-size: 1.75rem;
	font-family: 'Source Code Pro', monospace;
	font-weight: 600;
	padding-top: 1.75rem;
}

footer a,header a, h1 a {
	text-decoration: none;
}

h1 {
	font-weight: 1000;
}

footer a:hover, header a:hover {
	text-decoration: underline;
	color: #fff;
}

.summary_page_title a:hover {
	text-decoration: none;
}

main {
	width: 60%;
	max-width: 50rem;
	border-radius: 1.5625rem;
	padding: 1.25rem;
	background-color: #fff;
	color: #000;
	box-shadow: 0rem 0rem 1.5625rem 0rem rgba(0,0,0);
	font-family: 'Cantarell', 'Ubuntu', 'Candara', sans-serif;
}

.article_summary {
	padding-top: .625rem;
	font-size: 1.25rem;
}

.read_more {
	font-weight: 501;
}

.paginator {
	display: flex;
	font-size: .9375rem;
	padding-top: 1.875rem;
	justify-content: space-around;
	color: #808080;
}

.paginator a {
	color: #808080;
}

.comment {
	outline: .125rem solid #80808025;
	border-radius: .625rem;
	padding: .625rem;
	margin-top: 3.75rem;
}

aside {
	padding: 2.5rem 1.25rem;
	border-radius: .5rem 0rem 0rem .5rem;
	box-shadow: -0.0625rem 0rem .1875rem .0625rem #000;
	background: #333;
	background: linear-gradient(#333,#222);
	margin: .625rem 0rem;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	height: 97.4vh;
	height: 97.4dvh;
	box-sizing: border-box;
	width: 13rem;
}

.sidebar {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin: .1875rem .625rem;
}

.menu {
	font-family: 'Cantarell', 'Ubuntu', 'Candara', sans-serif;
	display: flex;
	flex-direction: column;
	gap: 2rem;
	padding-bottom: 2.5rem;
}

.menu a {
	text-decoration: none;
}

.social {
	display: flex;
	gap: .7rem;
}

.css_logo {
	margin-top: auto;
	margin-left: auto;
}

footer {
	margin-top: auto;
	font-family: 'Source Code Pro', monospace;
	padding-bottom: 1.25rem;
	padding-top: 2.5rem;
	font-size: .75rem;
	width: 60%;
	max-width: 50rem;
}

footer img {
	padding-bottom: .625rem;
}
