body {
	background: #546E7A;
	background: linear-gradient(90deg, #546E7A, #455A64);
	color: #fff;
	display: grid;
	grid-template-areas: "primary sidebar";
	grid-template-columns: 4fr 1fr;
	width: 100vw;
	height: 100vh;
}
.primary {
	grid-area: primary;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	gap: 2rem;
	align-items: center;
	height: 100%;
}

/* TODO: make <a> styling better xd */

a {
	color: #fff;
}
main a {
	color: #000;
}

header {
	font-size: 28px;
}

main {
	width: 60%;
	border-radius: 25px;
	border: 1px solid #FFFF00;
	padding: 10px;
	background-color: #fff;
	color: #000;
	box-shadow: 0px 0px 25px 0px rgba(0,0,0);
}

.paginator_number {
	text-align: center;
}

article {
	flex: 2;
}

aside {
	grid-area: sidebar;
	padding-top: 40px;
	padding-right: 40px;
	padding-left: 20px;
	border: 2px solid #fff;
	background: #333;
	background: linear-gradient(#333,#222);
}

footer {
	margin-top: auto;
}
