{{ define "main" }}
    <main>
        {{- if or .Title .Content }}
        <div>
            <div class="page_header">
                {{ with .Title }}<h1>{{ . }}</h1>{{ end }}
                <div class="additional_options">
                {{- if eq .Page.Section "posts" }}
                    {{- with .Site.GetPage "/categories" }}<a href="{{ relURL "categories" }}">[ Categories ]</a>{{- end }}
                    {{- with .Site.GetPage "/tags" }}<a href="{{ relURL "tags" }}">[ Tags ]</a>{{- end }}
                    <a class="rss_logo" href="{{ relURL "posts/index.xml" }}"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-rss" viewBox="0 0 16 16"><title>RSS</title><path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/><path d="M5.5 12a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0zm-3-8.5a1 1 0 0 1 1-1c5.523 0 10 4.477 10 10a1 1 0 1 1-2 0 8 8 0 0 0-8-8 1 1 0 0 1-1-1zm0 4a1 1 0 0 1 1-1 6 6 0 0 1 6 6 1 1 0 1 1-2 0 4 4 0 0 0-4-4 1 1 0 0 1-1-1z"/></svg></a>
                {{- end }}
                {{- if eq .Page.Section "categories" }}
                    <a href="{{ relURL "posts" }}">[ All posts ]</a>
                    {{- if not (.Page.InSection (.GetPage "/categories")) }}<a href ="{{ relURL "categories" }}">[ Categories ]</a>{{- end }}
                    {{- with .Site.GetPage "/tags" }}<a href="{{ relURL "tags" }}">[ Tags ]</a>{{- end }}
                {{- end }}
                {{- if eq .Page.Section "tags" }}
                    <a href="{{ relURL "posts" }}">[ All posts ]</a>
                    {{- if not (.Page.InSection (.GetPage "/tags")) }}<a href ="{{ relURL "tags" }}">[ Tags ]</a>{{- end }}
                    {{- with .Site.GetPage "/categories" }}<a href="{{ relURL "categories" }}">[ Categories ]</a>{{- end }}
                {{- end }}
                </div>
            </div>
            <hr>
            {{ with .Content }}<div>{{ . }}</div>{{ end }}
        </div>
        {{- end }}
        {{- if and (or (eq .Page.Section "categories") (eq .Page.Section "tags")) (or (.Page.InSection (.GetPage "/categories")) (.Page.InSection (.GetPage "/tags"))) }}
        <div class="summary_title_list">
        {{- else }}
        <div class="article_list">
        {{- end }}
            {{ range .Paginator.Pages }}
                {{ .Render "summary" }}
            {{ end }}
        </div>
        {{ partial "pagination.html" . }}
    </main>
{{ end }}
